* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f3f3f3;
    color: #494949;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

div {
    padding-top: 10px;  
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.5s;
}

nav ul li a:hover {
    background-color: #494949;
}

h1 {
    text-align: left;
    color: white;
    margin-left: 19px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

.texto{
    margin: 10px auto;
    padding: 30px;
    max-width: 1200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

